*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Header Section */
header{
    background-color:white;
    border-bottom: 5px solid #b00000;
    padding: 10px 0px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-image img{
    height: 70px;
}

.school-name h1{
    font-size: 24px;
    color: black;
    padding-left: 12px;
}